<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gp_surgery.Properties.Settings.gp_surgeryConnectionString"
            connectionString="Data Source=VALKYRIE-ONLINE\CSHARPSERVER;Initial Catalog=gp_surgery;User ID=sa;Password=Pach1r1su"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>